
<h1 style="color:blue;">Bienvenido a Lisa.scrum</h1>
</br>
<form method="post" action="/juego">
<input type="hidden" name="accion" value="1">
<table>
<tr>
<td>Ingrese la palabra secreta:
<td><input type="text" name="palabra_secreta" value="" /></td>
</tr>
<tr>
<td>Ingrese una pista:
<td><input type="text" name="pista" value="" /></td>
</tr>
<tr><td></td><td>
<input type="submit" name="jugar" value="jugar" />
</td>
</tr></table>
</form>
