Bienvenido a Lisa.scrum
<form method="post" action="/juego">
<table>
<tr><td>Ingrese la palabra secreta:
<td><input type="text" name="palabra_secreta" value="" /></td>
</tr>
<tr><td></td><td>
<input type="submit" name="jugar" value="jugar" />
</td></tr></table>
</form>
