Jugando Lisa.scrum
<form method="post" action="/juego">
Ingrese una letra
<input type="text" name="letra" value="" />
<input type="submit" name="adivina" value="adivina" />
</form>
<br>
<span style="color:blue;">Letras acertadas: 0/N</span>
<br>
<span style="color:red;">Intentos fallidos: 0/N</span>

